.nav {
	display: flex;
	justify-content: space-between;
	align-items: center;
	background-color: rgb(234, 234, 234);
}

nav ul {
	list-style-type: none;
	display: flex;
	justify-content: space-between;
	align-items: center;
}
ul li {
	margin: 10px;
}
.product-main {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
}
.product {
	width: 200px;
	height: 200px;
	border: 1px solid;
	margin: 20px;
	display: flex;
	justify-content: center;
	align-items: center;
}
.product-sub {
	padding: 20px;
	text-align: center;
}
